header{
    background-image: url(https://i.postimg.cc/0y4g7JwG/235-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
}

#main{
    background-image: url(https://i.postimg.cc/sxGP1bYr/pngwing-com-31.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position:right;
}
