#first{
background-image: url(https://i.postimg.cc/G3P0YpwY/pngwing-com-21.png);
background-repeat: no-repeat;
background-position: left;
background-size: 35%;
border-radius: 100px 1px;
}
header{
    background-image: url(https://i.postimg.cc/0y4g7JwG/235-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
}